$lt-gray: #ddd;
$background-dark: #512DA8;
$background-lite: #9575CD;
$background-pale: #D1C4E9;

$carousel-item-height: 30px;

@mixin zero-margin ($pad-up-dn: 0px, $pad-left-right: 0px){
    margin: 0px auto;
    padding: $pad-up-dn $pad-left-right;
}
.row-header{
    @include zero-margin();
}
.row-content{
    @include zero-margin(50px, 0px);
    border-bottom: 1px ridge;
    min-height: 400px;
}
.footer{
    background-color: $background-pale;
    @include zero-margin(20px, 0px);
}
.jumbotron{
    @include zero-margin(70px, 30px);
    background: $background-lite;
    color: floralwhite;
}
address{
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}
body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

// Task 4
.modal-header{
    background-color: $background-dark;
    h4{
        color: floralwhite;
    }
    .close{
        color: floralwhite;
    }
}
.modal-body{
    background-color: $background-pale;
}
.navbar-dark{
    background-color: $background-dark;
}
.tab-content{
    border-left: 1px solid $lt-gray;
    border-right: 1px solid $lt-gray;
    border-bottom: 1px solid $lt-gray;
    padding: 10px;
}